

svg{
    overflow: visible;
    position: absolute;
}
.main{
    width: 400px;
    height: 400px;
  
}

body{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

circle{
    offset-path: path("M200.5,188c77.6,0,140.5,5.373,140.5,12s-62.9,12-140.5,12S60,206.627,60,200,122.9,188,200.5,188Z");
    offset-anchor: center;
    fill: white;
    stroke: white;
    filter: drop-shadow( 0px 0px 5px rgba(255, 255, 255, 1))
    drop-shadow( 0px 0px 10px rgba(255, 255, 255, 1));
    
}

.circle-animation{
    animation: draw 5s linear forwards;
}

path{
    
    transform-origin: center;
    fill: transparent;
    stroke: white;
    filter: drop-shadow( 0px 0px 5px rgba(255, 255, 255, 1))
    drop-shadow( 0px 0px 10px rgba(255, 255, 255, 1))
    drop-shadow( 0px 0px 15px rgba(255, 255, 255, 1)); 
    
}

.path-animation-closed{
    animation: closed 5s linear forwards;
}

.path-animation-opened{
    animation: opened 5s linear forwards;
}

@keyframes draw {
    0%{ 
        offset-distance: 0%;
    }

    100%{
        offset-distance: 100%;
        
    }
}

@keyframes closed {
    0%{
        stroke-dashoffset: 0;
    }
    100%{
        
        stroke-dashoffset: -568.9056396484375;
    }
}

@keyframes opened {
    0%{
        stroke-dashoffset: 568.9056396484375;
    }
    100%{
        
        stroke-dashoffset: 0;
    }
}